html, body {
  margin: 0;
  height: 100vh;
  font-family: "Raleway"; }

.container {
  background: #3961B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #419CFD, #3961B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #419CFD, #3961B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .board-wrapper .markers {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20em; }
    .board-wrapper .markers__select {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border-radius: 1%;
      text-align: center;
      background-color: rgba(57, 47, 162, 0.95);
      color: white;
      font-size: 1em;
      height: 100%;
      padding: 30px; }
    .board-wrapper .markers .markers__button {
      display: flex;
      justify-content: space-around; }
      .board-wrapper .markers .markers__button span {
        font-size: 5em;
        font-weight: bold;
        cursor: pointer; }
  .board-wrapper .winner {
    background-color: rgba(57, 47, 162, 0.95);
    position: absolute;
    color: white;
    font-size: 2em;
    padding: 30px;
    border-radius: 1; }

.board {
  display: flex;
  /* establish flex container */
  flex-wrap: wrap;
  /* enable flex items to wrap */
  justify-content: space-around; }
  .board__tile {
    cursor: pointer;
    color: white;
    border: 2px solid #43A1FF;
    box-sizing: border-box;
    flex: 0 0 33.334%;
    /* don't grow, don't shrink, width */
    height: 135px;
    width: 50px;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    line-height: 135px; }
  .board__tile:nth-child(1), .board__tile:nth-child(2), .board__tile:nth-child(3) {
    border-top: none; }
  .board__tile:nth-child(1), .board__tile:nth-child(4), .board__tile:nth-child(7) {
    border-left: none; }
  .board__tile:nth-child(3), .board__tile:nth-child(6), .board__tile:nth-child(9) {
    border-right: none; }
  .board__tile:nth-child(7), .board__tile:nth-child(8), .board__tile:nth-child(9) {
    border-bottom: none; }

.reset {
  background: #FFDE3C;
  margin-top: 3em;
  padding: 1em;
  color: #2F2F31;
  border-radius: 5%;
  font-weight: bold;
  cursor: pointer; }
  .reset:active {
    background: #eac933; }
